<dialog id="modal-video-to-delete" class="container-fluid w-75 border-1 rounded-3 p-0 modal-picture-figure-to-edit" aria-hidden="true" role="alertdialog" aria-labelledby="title-model">
    <h3 class="mb-3 text-center">Are you sure to delete this video ?</h3>
    <button class="btn btn-close btn-warning position-absolute top-0 end-0"></button>
    <div class="row d-flex justify-content-center">
        <a
                data-video-id=""
                href="#"
                class="col-4 btn btn-danger mx-3"
                data-token="">
            Yes
        </a>
        <button class="col-4 btn btn-warning">No</button>
    </div>
</dialog>